# Dependências do Node
node_modules/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Diretórios de build
dist/
build/

# Arquivos de ambiente
.env

# Diretórios temporários
tmp/
temp/

# Cache do npm
.npm/

# Cache do yarn
.yarn/

# Diretórios de IDEs
.vscode/
.idea/